node_modules
dist
.dply
.wrangler
.DS_Store
*.log
.bun-build
*.bun-build
fixtures/**/node_modules
fixtures/**/package-lock.json
fixtures/**/dist
fixtures/**/.next
fixtures/**/.wrangler
fixtures/**/vite.config.ts
fixtures/**/worker
fixtures/**/wrangler.jsonc
